.tasks-menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 0.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #e1716d;
}

.tasks-menu > span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #e1716d;
}
