.addButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    gap: 5px;
    background-color: var(--main-color);
    border-radius: 8px;
    color: var(--font-main);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 12px;
    border: 2px dashed rgba(255, 255, 255, 0.74);
    transition: all 0.3s ease-out;
}

.addButton:hover {
    cursor: pointer;
    background-color: var(--main-dark);
}

.icon {
    width: 2rem;
    height: 2rem;
    text-align: center;
}
