.tasksMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-black);
  padding-bottom: 0.5rem;
  margin-top: 20px;
  border-bottom: 1px solid #ffffff;
}

.tasksMenu > span {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--font-main);
}

.button {
  background-color: #e1716d;
  border-style: none;
  padding: 0.5rem 0.5rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.2rem;
}

.button:hover {
  cursor: pointer;
  background-color: #c96360;
}

.icon {
  display: block;
  width: 1rem;
  height: 1rem;
}

.options {
  position: relative;
}

.active {
  opacity: 1;
  display: block;
}

.optionsList {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
  pointer-events: auto;
  position: absolute;
  background-color: #ffffff;
  width: 13rem;
  right: 0;
  z-index: 1;
  opacity: 1;
  display: block;
  list-style: none;
  border-radius: 4px;
  padding: 4px 0px;
}

.listItem {
  display: flex;
}
