.timer {
    text-align: center;
    background-color: var(--main-light);
    margin: auto;
    padding: 30px 0px 30px;
    margin-top: 15px;
    max-width: 480px;
    transition: all 0.3s ease-out;
}
