.buttonsWrapper {
  background-color: red;
}

.buttonStart {
  cursor: pointer;
  border: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  box-shadow: rgb(235 235 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  color: var(--main-color);
  font-weight: bold;
  width: 200px;
  background-color: white;
}

/*  when start clicked   */
/*  remove box-shadow */
