.button {
  padding: 0.5rem 1rem;
  border-style: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  background: none;
  color: #ffffff;
}

.button:active {
  transform: translateY(0.3rem);
}

.active {
  font-weight: 600;
  background: #9e4744;
}

.button:hover {
  cursor: pointer;
}
