.button {
  padding: 0.5rem 1rem;
  border-style: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  background: #9e4744;
  color: #ffffff;
}

.button:hover {
  cursor: pointer;
}
