.avatarItem {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.avatarItem:hover {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  /* get color from var main */
  border: 5px solid #a71010;
}
