.activeTask {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.activeTask span {
  display: block;
}

.pomodoroCount {
  color: var(--font-gray);
  font-weight: 400;
  margin-bottom: 5px;
}

.activeTask {
  color: var(--font-main);
  font-weight: 600;
  width: 100%;
  overflow-wrap: break-word;
}
