.container {
  max-width: 620px;
  margin: 50px auto;
  /* padding: 50px 40px; */
  /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%); */
}

.container h2 {
  font-size: 24px;
  color: #330c0a;
}

.container h2::after {
  content: "";
  display: block;
  border-bottom: 3px solid #f05b56;
  width: 50%;
  padding-top: 10px;
}

.container p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.5px;
  word-spacing: 5.5px;
  color: #330c0a;
}
.container p::first-letter {
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: #f05b56;
  /* font-style: italic; */
  /* word-spacing: px; */
}

.container ul {
  margin: 0;
  padding-left: 10px;
  list-style-type: none;
  /* color: red; */
}

.container ul > li {
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
  letter-spacing: 1.2px;
  word-spacing: 4px;
}

.container ul > li::before {
  content: "";
  position: relative;
  top: -1px;
  left: -10px;
  background-color: red;

  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.container strong {
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 4px;
}
