.tab-menu {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.button {
  background-color: var(--main-dark);
  border-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  color: var(--font-main);
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.2rem;
}

.button:hover {
  cursor: pointer;
  background-color: #c96360;
}

.icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
