/* main container */
.infoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-direction: row-reverse;
  width: 100%;
  padding-right: 0.875rem;
  padding-left: 0.875rem;
  margin-bottom: 123px;
}

.infoSection figure {
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}

/* left content */
.infoThumnail {
  width: 55.16667%;
  float: left;
  display: flex;
  justify-content: left;
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  transform-origin: center center 0;
}
.infoThumnail img {
  text-align: right;
  width: 50%;
  max-width: 460px;
  position: absolute;
}

/* .infoImg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100vh;
} */

.infoThumnail::after {
  content: "";
  display: table;
  clear: both;
}

/* right content */
.headerContainer {
  transform: translateX(50px);
}

.infoDetails {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  width: 55%;
  text-align: right;
  position: relative;
  z-index: 2;
}

.infoSection img {
  width: 100%;
  max-width: 460px;
}

.infoSection h1 {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 4rem;
  color: #000000;
  font-weight: 800;
}
.infoSection h3 {
  font-size: 1.3rem;
  color: crimson;
}
.infoSection p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
  color: #000000;
}

.infoHeader {
  position: relative;
}

.infoHeader::after {
  position: absolute;
  display: block;
  content: "";
  background-color: crimson;
  height: 6px;
  width: 70px;
  right: -90px;
  top: 25px;
}

.infoSection button {
  margin-top: 30px;
  padding: 10px 30px;
  background-color: crimson;
  font-size: 1.8rem;
  font-weight: 500;
  border-style: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContent {
  display: flex;
  float: right;
  flex-direction: column;
  align-items: flex-end;
  justify-items: right;
  max-width: 300px;
  text-align: right;
}

.infoContent p {
  font-size: 1.7rem;
  font-weight: 500;
}
.infoContent strong {
  color: crimson;
  font-weight: 800;
}
