.appContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 50px;
}

/* left flex */

.pomodoroApp {
  flex: 1;
  /* text-align: center; */
  /* align-self: center; */
  padding: 0px 12px;
  max-width: 620px;
  margin: auto 0;
}

.templateApp {
  margin-top: 100px;
  /* padding: ; */
  /* min-width: 700px; */
  /* justify-self: flex-end; */
  /* justify-content: center; */
  /* flex-shrink: 0; */
  /* min-width: 620px; */

  /* max-width: 950px; */

  /* padding: 0px 12px; */
  /* margin: auto; */
}

/* center flex */
