.formMain {
  padding: 2rem 1rem;
}
.formMenu {
  padding: 14px 20px;
  display: flex;
  color: #ffffff;
  background-color: gainsboro;
  justify-content: space-between;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  justify-content: flex-end;
}
.formMenu button {
  border-style: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 14px;
}

.btnCancel {
  color: #525252;
  font-weight: 600;
  margin-right: 40px;
}

.btnCancel:hover {
  color: #000000;
  font-weight: 600;
}

.formMenu button[type="submit"] {
  background-color: #111111;
  color: var(--font-main);
}

.formMenu button[type="submit"]:hover {
  background-color: #000000;
  color: var(--font-main);
}

/*  avatar row form  */

.formControlColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid black;
}

.labelLarge {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  color: rgb(85, 85, 85);
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

.avatarPicker {
  display: flex;

  justify-content: center;
  align-items: center;
}

.avatarPicker:hover .icon {
  opacity: 0.8;
}

.avatarPicker:hover .circleButton {
  background-color: rgba(46, 46, 46, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.userAvatar {
  width: 100px;
  height: 100px;
}

.circleButton {
  position: absolute;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: none;
  overflow: hidden;
}

.getAvatarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  overflow: hidden;
  background-color: #2195f39f;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.getAvatarButton:hover {
  cursor: pointer;
  background-color: #2196f3;
}

.iconBig {
  height: 80px;
  width: 80px;
  color: #ffffff;
  opacity: 0.3;
}
.iconSmall {
  height: 20px;
  width: 20px;
  color: #ffffff;
}
