/* task item  */

.task {
  transition: 0.5s;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 15px 5px;
  border: none;
  flex-wrap: wrap;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  width: 100%;
  color: var(--font-black);
  overflow-wrap: break-word;
  background-color: #ffffff;
  border-left: 5px solid rgba(0, 0, 0, 0);
}
.noteItem {
  width: 100%;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  text-align: left;
  padding: 10px 30px;
  background-color: #fbffab;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.lineBreak {
  width: 100%;
}

.task:hover {
  transform: translateY(-4px);
  transform: scale(1.05);
  transition: 0.2s;
  border-left: 5px solid rgba(0, 0, 0, 0.5);
}

.task.active {
  transform: scale(1.05);
  border-left: 5px solid rgba(0, 0, 0, 1);
}

/* title */

.title {
  overflow: hidden;
  font-size: 1.5rem;
  color: var(--font-black);
  font-weight: 700;
  margin-left: 0.5rem;
  flex: 1;
  margin-right: 10px;
}

.title.done {
  text-decoration: line-through;
  color: var(--color-grey-dark-2);
}

/* pomodoro Est / Act  */

.pomodoroInfo {
  margin-right: 20px;
  display: flex;
  width: 40px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: rgb(187, 187, 187);
}

.pomodoroEst {
  color: rgb(187, 187, 187);
  font-weight: bold;
  font-size: 18px;
}

.pomodoroAct {
  color: rgb(187, 187, 187);
  font-weight: bold;
  font-size: 16px;
}

.icon {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: var(--color-grey-dark-2);
  margin-right: 0.5rem;
}

.icon:hover {
  display: block;
  cursor: pointer;
  color: var(--color-grey-dark-1);
}

.icon.done {
  color: var(--main-color);
}
