.task {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #c74642;
}

.task:hover {
  border-left: 0.5rem solid rgb(105, 105, 105);
}

.active {
  border-left: 0.5rem solid black;
}

.title {
  color: #ffffff;
  font-size: 1rem;
}

.icon {
  display: block;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  color: #ffffff;
  margin-right: 0.5rem;
}
.icon:hover {
  display: block;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  color: #000000;
  margin-right: 0.5rem;
}
