.container {
    max-width: 620px;
    margin: 50px auto;
}

.container h2 {
    color: #330c0a;
}

.container h2::after {
    content: '';
    display: block;
    border-bottom: 3px solid #f05b56;
    width: 50%;
    padding-top: 10px;
}

.container p {
    color: #330c0a;
}
.container p::first-letter {
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: #f05b56;
}

.container ul {
    list-style-type: decimal;
    padding-left: 25px;
}

.container ul > li {
    color: #330c0a;
}

.container strong {
    letter-spacing: 1px;
    word-spacing: 4px;
}
