.boardItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
  width: 100%;
  font-size: 1.6rem;
  color: var(--font-black);
  overflow-wrap: break-word;
  background-color: #ffffff;
}

.title {
  overflow: hidden;
  font-size: 1.5rem;
  color: var(--font-black);
  font-weight: 700;
  margin-left: 0.5rem;
  flex: 1;
  margin-right: 10px;
}

.pomodoroEst {
  color: rgb(187, 187, 187);
  font-weight: bold;
  font-size: 18px;
}

.editNumber {
  display: flex;
  flex-direction: row;
}

.textEditor {
  width: 100%;
}

.pomodoroButton {
  text-align: center;

  width: 15px;
  height: 15px;
}

.pomodoroContainer {
  display: flex;
  flex-direction: column;
}
