.inputControl {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid black;
}

.label {
  font-size: 22px;
  color: rgb(85, 85, 85);
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

.input {
  border-radius: 4px;
  font-size: 22px;
  box-shadow: none;
  padding: 1rem 1rem;
  border: none;
  overflow: hidden;
  background-color: #e2e2e2;
  width: 90px;
  box-sizing: border-box;
  font-weight: bold;
}

/*  form menu bottom */

.formMenu {
  padding: 14px 20px;
  display: flex;
  background-color: gainsboro;
  justify-content: space-between;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.menuLeft {
  justify-content: flex-start;
}

.menuRight {
  justify-content: flex-end;
}
