.columnWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.formControlColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 2rem 1rem;
}

.formControlRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid black;
}

.controlGap {
  gap: 1rem;
}

.labelSmall {
  font-size: 15px;
  color: rgb(85, 85, 85);
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}
.labelLarge {
  font-size: 20px;
  display: inline-block;
  color: rgb(85, 85, 85);
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

.input {
  border-radius: 4px;
  font-size: 22px;
  box-shadow: none;
  border: none;
  overflow: hidden;
  background-color: #e2e2e2;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  padding: 1rem 1rem;
}
.inputSmall {
  border-radius: 4px;
  font-size: 22px;
  box-shadow: none;
  padding: 1rem 1rem;
  border: none;
  overflow: hidden;
  background-color: #e2e2e2;
  width: 200px;
  box-sizing: border-box;
  font-weight: bold;
}

/*  switch component  */

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/*  selects first slider after checbox checked */
.checkbox:checked + .slider {
  background-color: #2196f3;
}

.checkbox:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.checkbox:checked + .slider::before {
  transform: translateX(37px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.icon {
  width: 100%;
  height: 100%;

  color: #ffffff;
  background-color: none;
}

.buttonSound {
  background-color: #2196f3;

  overflow: hidden;
  border: none;
  height: 40px;
  width: 60px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgb(230 200 200) 0px 3px 0px;
}

.buttonSound:active {
  box-shadow: none;
  transform: translateY(2px);
}

/* // SELECT CSS */

.select {
  position: relative;
  display: inline-block;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 15px 15px;
  outline: 0;
  border-radius: 0px;
  background-color: #2196f3;
  color: #ffffff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #ffffff transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-top-color: #ffffff;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #ffffff;
}
