.container {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.header {
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

.headerButton {
  display: flex;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
}

.error {
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
}

.headerIcon {
  width: 5rem;
  margin-right: 1rem;
  height: 5rem;
  color: #ffffff;
}

.auth {
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  min-width: 380px;
  max-width: 380px;
  padding: 10px 10px;
  background-color: var(--main-light);
  height: 100%;
}

.googleLogin {
  background-color: blanchedalmond;
  color: #000000;
}

.break {
  display: block;
  color: #ffffff;
}

.break::before,
.break::after {
  display: inline-block;
  content: "";
  border-top: 1px solid #ffffff;
  width: 5rem;
  margin: 5px 10px;
  /* margin: -1rem 5px; */
  /* transform: translateY(-1rem); */
}

.inputWrapper button {
  padding: 1rem;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
}

.form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px;
}

.form button {
  border-style: none;
  cursor: pointer;
  width: 100%;
  padding: 15px 10px;
  color: #ffffff;
  background-color: var(--btn-color-confirm);
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  margin: 1rem 0 0.5rem;
}
.form button:hover {
  background-color: var(--font-black);
}

.form label[type="text"] {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  padding-left: 0.5rem;
  border: 1px solid #ccc;
  font: inherit;
  text-align: center;
}

.form button[type="submit"] {
  background-color: blue;
}

.form button[type="submit"]:hover {
  background-color: red;
}

.form button[type="submit"]:disabled {
  background-color: rgb(131, 131, 131);
}

.form button[type="button"] {
  background-color: none;
  background: none;
}

.form-main {
  padding: 10px 20px 0px;
  /* align-items: center; */
}
.form-menu {
  padding: 14px 20px;
  display: flex;
  background-color: #a54844;
  justify-content: flex-end;
  /* align-items: center; */
}

.forgotPass {
  color: var(--color-grey-light-2);
  opacity: 0.7;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

.createWrapper {
  display: flex;
  margin-top: 20px;
  text-align: center;
  gap: 10px;
  flex-direction: column;
}

.createLabel {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-grey-light-3);
}

.createAccount {
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  color: var(--font-main);
}
